/* Max width Css Class Start */
.max-w {
    &-242-px {
        max-width: 242px;
    }
    &-156-px {
        max-width: 156px;
    }
    &-182-px {
        max-width: 182px;
    }
    &-186-px {
        max-width: 186px;
    }
    &-145-px {
        max-width: 145px;
    }
    &-140-px {
        max-width: 140px;
    }
    &-248-px {
        max-width: 248px;
    }
    &-1452-px {
        max-width: 1452px;
    }
    &-130-px {
        max-width: 130px;
    }
    &-180-px {
        max-width: 180px;
    }
    &-160-px {
        max-width: 160px;
    }
    &-346-px {
        max-width: 346px;
    }
    &-310-px {
        max-width: 310px;
    }
    &-554-px {
        max-width: 554px;
    }
    &-325-px {
        max-width: 325px;
    }
    &-252-px {
        max-width: 252px;
    }
    &-202-px {
        max-width: 202px;
    }
    &-204-px {
        max-width: 204px;
    }
    &-246-px {
        max-width: 246px;
    }
    &-470-px {
        max-width: 470px;
    }
    &-610-px {
        max-width: 610px;
    }
    &-660-px {
        max-width: 660px;
    }
    &-730-px {
        max-width: 730px;
    }
    &-418-px {
        max-width: 418px;
    }
    &-370-px {
        max-width: 370px;
    }
    &-850-px {
        max-width: 850px;
    }
    &-110-px {
        max-width: 110px;
    }
    &-400-px {
        max-width: 400px;
    }
    &-360-px {
        max-width: 360px;
    }
    &-152-px {
        max-width: 152px;
    }
    &-270-px {
        max-width: 270px;
    }
    &-222-px {
        max-width: 222px;
    }
    &-200-px {
        max-width: 200px;
    }
    &-1140-px {
        max-width: 1140px;
    }
    &-1290-px {
        max-width: 1290px;
    }
    &-885-px {
        max-width: 885px;
    }
    &-306-px {
        max-width: 306px;
    }
    &-500-px {
        max-width: 500px;
    }
    &-526-px {
        max-width: 526px;
    }
}
.max-w-664px {
    max-width: 664px !important;
}
/* Max width Css Class End */