[dir=rtl] {
    .banner-clip__path-rtl {
        clip-path: polygon(49% 24%, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 48%);
        border-top-right-radius: 72px;
    }
    .banner-shape-one {
        inset-inline-start: -30px;
    }
    .mobile-menu {
        transform: translateX(100%);
    }
    .our-feature__card-one {
        inset-inline-start: auto;
        inset-inline-end: 0;
    }
    .our-feature-card-three {
        inset-inline-start: auto;
        inset-inline-end: 0;
    }
    .our-feature__card-one {
        &::after {
            transform: rotate(-45deg);
            top: 117px;
            inset-inline-end: 0px;
            inset-inline-start: auto;
        }
        &::before {
            transform: rotate(-36deg);
            top: -1px;
            inset-inline-start: -39px;
            inset-inline-end: auto;
        }
    }
    .our-feature__card-two {
        inset-inline-end: auto;
        inset-inline-start: 0;
    }
    .our-feature-card-four {
        inset-inline-end: auto;
        inset-inline-start: 0;
    }
    .our-feature__card-two {
        &::before {
            transform: rotate(131deg);
            bottom: 150px;
            inset-inline-start: 1px;
            inset-inline-end: auto;
        }
        &::after {
            transform: rotate(130deg);
            bottom: 0px;
            inset-inline-start: 199px;
            inset-inline-end: auto;
        }
    }
    .ph-bold.ph-arrow-up-right:before {
        content: "\e090";
    }
    .circle-shape {
        border-radius: 0 0 50% 0 !important;
    }
    .circle-shape {
        &::before{
            inset-block-start: 0px;
            inset-inline-start: -32px;
            transform: rotate(-45deg);
        }
        &::after {
            transform: rotate(-28deg);
        }
    }
    .fast-safe {
        border: none;
        &::before {
            background: transparent;
        }
    }
    .accordion-button::after {
        margin-inline-start: auto;
        margin-inline-end: 0;
    }
    .accordion-button::before {
        inset-inline-end: 24px;
        margin-top: 8px;
    }
    .banner-two-shape-one {
        inset-inline-start: 0px;
        @media (max-width: 1399px) {
            max-width: 250px;
        }
        @media (max-width: 1199px) {
            max-width: 220px;
        }
    }
    .one-platform__text {
        transform: rotate(-90deg) translate(-120px, 78px);
    }
    .one-platform__link {
        inset-inline-start: auto;
        inset-inline-end: 0;
    }
    .banner-shape-three-one {
        inset-inline-start: auto;
        inset-inline-end: 60%;
        @media (max-width: 1368px) {
            inset-inline-start: auto;
            inset-inline-end: 28%;
        }
        @media (max-width: 1199px) {
            inset-inline-start: auto;
            inset-inline-end: 41%;
        }
    }
    .choose-us__title {
        transform: rotate(-90deg) translate(-258px, 165px);
    }
    .choose-us__icon {
        top: 20px;
    }
    .our-services-three::before {
        clip-path: polygon(38% 0, 100% 0, 100% 43%, 100% 79%, 100% 100%, 32% 100%, 0 100%, 0 51%);
    }
    .our-serbices-card {
       clip-path: polygon(91% 0, 100% 19%, 100% 100%, 0 100%, 0 0);
    }
    .our-services-three-slider {
        padding-right: clamp(2.5rem, -1.838rem + 12.4611vw, 7.5rem);
    }
    .circle-shape-three {
        border-radius: 0 0 50% 0 !important;
    }
    .circle-shape-three {
        &::before {
            inset-inline-start: -33px;
            transform: rotate(-29deg);
        }
        &::after {
            transform: rotate(-32deg);
        }
    }
    .accordion-button-three::after {
        inset-inline-start: 0;
    }
    .banner-four-clip-path {
        clip-path: polygon(0 0, 100% 51%, 100% 71%, 100% 100%, 0 100%, 0% 50%);
    }
    .banner-four__img {
        gap: 20px;
    }
    .banner-four-shape-one {
        display: none;
    }
    .work-four__title {
        transform: rotate(-90deg) translate(-243px, 159px);
    }
    .work-four__icon {
        top: 20px;
        inset-inline-start: -8px;
    }
    .our-team-member {
        border-top-right-radius: 24px;
        border-top-left-radius: 0;
        &::before {
            transform: rotate(-154deg);
        }
        &::after {
            transform: rotate(224deg);
        }
    }
    .team-member__hover-img {
        transform: scaleX(-1);
    }
    .ph.ph-arrow-up-right:before {
        content: "\e090";
    }
    .blog-details__marketing {
        inset-inline-start: auto;
        inset-inline-end: 0;
    }
    .digital-marketing {
        &::before {
            inset-inline-start: 133px;
            top: 53px;
            transform: rotate(-32deg);
        }
        &::after {
            inset-inline-end: 164px;
            inset-inline-start: auto;
        }
    }
    .fees-other-circle-shape {
        border-bottom-right-radius: 36px;
        border-bottom-left-radius: 0;
    }
    .fees-other-circle-shape {
        &::before {
            transform: rotate(-39deg);
        }
        &::after {
            inset-inline-end: 0px;
            inset-block-start: 75px;
            transform: rotate(-31deg);
        }
    }
    .shape__one {
        inset-inline-end: 0;
        inset-inline-start: auto;
    }
    .shape__two {
        inset-inline-start: 0;
        inset-inline-end: auto;
    }
    .shape__five {
        inset-inline-start: 400px;
    }
    .working-process__text {
        text-align: end;
    }
    .select-button {
        left: 0 !important;
        right: auto !important;
    }
}