// preloader
@import "preloader";
// header bottom 
@import "header";
// mobile menu
@import "mobile-nav-menu";
// scroll top
@import "scroll-top";
// custom cursor
@import "custom-cursor";
// banner
@import "banner";
// our-services
@import "our-services";
// how it work
@import "request";
// testimonials
@import "testimonials";
// paynone
@import "payone";
// our-features
@import "our-features";
// faq
@import "faq";
// payment method
@import "payment-method";
//articles
@import "articles";
//why-choose us two
@import "why-choose-us-two";
//how-it work two
@import "how-it-work-two";
//our platforms two
@import "our-platforms-two";
//our features two
@import "our-features-two";
//one platform two
@import "one-platform-two";
//more features three
@import "more-features-three";
//mobile three
@import "mobile-three";
//about us three
@import "about-us-three";
//our pricing plan
@import "our-pricing-plan";
//payment solution four
@import "payment-solution-four";
//marquee
@import "marquee";
//my profile
@import "my-profile";
//log in
@import "log-in";
//send money
@import "send-money";
//blog details
@import "blog-details";
//team member
@import "team-member";
//others
@import "others";
// setting
@import "settings-panel"

